/**
  Colors
*/

$color-primary: #27ae60;
$color-primary-light: #2ae478;
$color-primary-dark: #168846;
$color-background: #fafafa;

$color-white: #ffffff;
$color-black: #000000;
$color-dark: #333333;
$color-blue: #4f7cac;
$color-red: #f50057;
$color-yellow: #f39c12;

$color-light-1: #faf9f9;
$color-light-2: #f4f2f2;
$color-light-3: #f0eeee;
$color-light-4: #cccccc;

$color-dark-1: #999999;
$color-dark-2: #777777;
$color-dark-3: #333333;

/**
  Fonts
*/

$font-primary: 'Quicksand';
$font-heading: 'Dancing Script';

/**
  Test sizes
*/

$text-tiny: 1.1rem;
$text-small: 1.4rem;
$text-medium: 1.8rem;
$text-large: 2.1rem;
$text-big: 2.8rem;

/**
  Responsive Breakpoints
*/

$mobile: 640px;
$media-tablet: 960px;